
.swiper-container {
  height: 340px;
  width: 100%;
}
.content-slide {
  padding: 20px;
  color: #fff;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.pagination {
  text-align: center;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background: #ffffff;
  border: 2px solid #d4d4d4;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #d4d4d4;
}